<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="logDir">log</Property>
    </Properties>
    <Appenders>
        <RollingFile name="generalAppender" fileName="${logDir}/xo_game_server.log"
                     filePattern="${logDir}/xo_game_server_%d{yyyy-MM-dd_HH-mm}_%i.log">
            <PatternLayout>
                <Pattern>%date %level %logger{1.} %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="gameHistoryAppender" fileName="${logDir}/gameHistory.log"
                     filePattern="${logDir}/gameHistory_%d{yyyy-MM-dd_HH-mm}_%i.log">
            <PatternLayout>
                <Pattern>%date %X{sessionId} %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%date %level %logger{1.} %msg%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="generalAppender"/>
            <AppenderRef ref="console"/>
        </Root>
        <logger name="org.igye.xogameserver.GameSessionActor" level="DEBUG" additivity="false">
            <appender-ref ref="gameHistoryAppender"/>
        </logger>
    </Loggers>

</Configuration>