<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="logDir">log</Property>
    </Properties>
    <Appenders>
        <RollingFile name="generalAppender" fileName="${logDir}/xo_game_server.log"
                     filePattern="${logDir}/xo_game_server_%d{yyyy-MM-dd_HH-mm}_%i.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d %p %c{1.} %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="generalAppender"/>
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>

</Configuration>